Pillow
multiprocess==0.70.5
pymem
keyboard==0.13.5
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
pynput==1.6.8
functools
requests
PyQt5
pywin32
win32gui
kivy
importlib
configparser
datetime
